- hosts: webservers
  become: yes
  tasks:
    - name: Update packages
      ansible.builtin.yum:
        name: "*"
        state: latest

    - name: Install Nginx
      ansible.builtin.yum:
        name: nginx
        state: present

    - name: Ensure Nginx is running
      ansible.builtin.service:
        name: nginx
        state: started
        enabled: true

    - name: Deploy index.html
      ansible.builtin.copy:
        dest: /usr/share/nginx/html/index.html
        content: "Taks 2 completed on {{ inventory_hostname }}"
        owner: root
        group: root
        mode: '0644'


- hosts: db
  become: yes
  tasks:
    - name: Install MySQL server
      apt: name=mysql-server state=present update_cache=yes

    - name: Start MySQL
      service:
        name: mysql
        state: started
        enabled: yes
